
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали воздушного судна</title>
</head>
<body>
    <h1>Детали самолёта {{ callsign }}</h1>
    <ul>
        <li><b>Страна происхождения:</b> {{ origin_country }}</li>
        <li><b>Широта:</b> {{ latitude }}</li>
        <li><b>Долгота:</b> {{ longitude }}</li>
        <li><b>Высота:</b> {{ altitude }} м</li>
    </ul>

    <a href="/">Назад к поиску</a>
</body>
</html>
